@import "../../assets/styles/Variables.scss";

.theme_dark {
  width: 100vw;
  height: 100vh;
  background-image: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/254300/1d595568cf062f616fb936f198c42e2ebe2d5104.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
